<div class="container mt-4 bg-dark">
  <h2 class="text-center">Terminos y condiciones</h2>
  <p>
    CONSORCIO INTERAMERICANO DE COMUNICACIÓN, S.A. DE C.V. y EDICIONES DEL
    NORTE, S.A. DE C.V., incluyendo todas sus publicaciones (en lo sucesivo
    referidas para efectos del presente Aviso como REFORMA), con domicilio para
    oír y recibir notificaciones en Av. México Coyoacán No. 40, Col. Santa Cruz
    Atoyac, Alcaldía de Benito Juárez, C.P. 03310, Cd. de México, recaba datos
    personales de sus clientes, proveedores y/o lectores, en cumplimiento a la
    Ley Federal de Protección de Datos Personales en Posesión de los
    Particulares, publicada en el Diario Oficial de la Federación el 05 de julio
    de 2010 (en lo sucesivo la “Ley”), siendo responsable de su tratamiento y
    comprometiéndose a respetar la privacidad de los mismos, por lo que hace de
    su conocimiento que:REFORMA recaba datos personales de manera personal y
    directa cuando el titular acude a nuestras oficinas, o bien por medios
    electrónicos y/o sonoros, a través del sitio www.reforma.com, a través de
    nuestras aplicaciones móviles, y/o líneas telefónicas, así como por otras
    fuentes permitidas por la Ley.Los datos personales que recaba REFORMA,
    incluyen nombre, edad, domicilio, teléfono, correo electrónico y en
    ocasiones datos bancarios cuando usted solicita un cargo a su tarjeta de
    crédito, son utilizados única y exclusivamente para fines de prestación de
    nuestros servicios y cumplimiento de nuestro objeto social, incluyendo los
    fines mercadotécnicos y publicitarios. Lo anterior significa que sus datos
    no serán transferidos ni tratados por personas distintas a REFORMA y/o sus
    directivos o empleados, salvo a instituciones bancarias para efectos de
    cobro de nuestros servicios, contando con su consentimiento.Los datos
    personales se encuentran restringidos, con excepción de aquellos requeridos
    por mandato de autoridad competente. También se exceptúan aquellos que se
    encuentran en fuentes de acceso público y los proporcionados por los propios
    usuarios que participen en la sección de Comentarios sobre notas publicadas
    en nuestros sitios de internet o en los Foros en línea, evitando con ello el
    mal uso por parte de personas que se refugian en el anonimato, por lo que se
    advierte a los participantes que sus comentarios podrían incluir el nombre
    del titular de la suscripción con el que acceden a los foros o emiten sus
    comentarios.Cuando nuestros usuarios acceden a nuestro Portal de Internet
    recibimos información de sus cookies y web beacons (Ver apartado de
    Definiciones).Es posible que dentro de los sitios web de REFORMA se alojen
    enlaces a sitios de terceros ajenos a nosotros, en los que no tenemos
    control sobre los mismos, por lo que invitamos a nuestros usuarios a revisar
    las políticas de privacidad de dichos sitios.Para prevenir el acceso, uso y
    divulgación no autorizados de los datos personales, REFORMA cuenta con
    procedimientos y controles que garantizan su trato adecuado. Únicamente el
    titular de los datos personales podrá tener acceso a ellos y a ejercer los
    derechos ARCO (acceso, rectificación, cancelación y oposición) de los
    mismos. Para ello el titular enviará una solicitud por escrito, redactada en
    español, incluyendo su nombre completo, teléfono, domicilio o correo
    electrónico para recibir notificaciones y copia simple o digital de su
    identificación oficial a REFORMA a través del correo electrónico
    ARCO@REFORMA.COM o bien a través de correo postal con porte pagado al
    domicilio señalado al inicio del presente Aviso dirigido al Departamento de
    Atención Derechos ARCO. En la solicitud el titular describirá los datos
    personales a los que se refiere y derecho ARCO que busca ejercer.REFORMA
    atenderá su solicitud en un plazo máximo de veinte días hábiles contados a
    partir de la fecha en que reciba su solicitud. Dentro de dicho plazo le
    informaremos sobre la procedencia de la misma. REFORMA habrá cumplido en el
    momento en que entregue la correspondencia al servicio postal, o bien en la
    fecha en que responda a su correo electrónico.REFORMA podrá modificar el
    presente Aviso de privacidad y publicar las modificaciones de forma
    inmediata en sus oficinas, sitios web, o a través de los medios que éste
    determine.El presente Aviso aplica para todos los servicios de REFORMA,
    excepto el servicio de Bolsa de Trabajo a través de www.reforma.com ya que
    la captación y tratamiento de los datos personales que sus titulares de
    forma voluntaria proporcionan a terceros a través de la Bolsa de Trabajo,
    son responsabilidad de los destinatarios finales que los reciban, esto en
    virtud de que REFORMA no hace uso de dichos datos personales y tampoco ha
    solicitado a dichos terceros el tratamiento de los mismos. En virtud de
    ello, los titulares de los datos personales deberán contactar a los
    destinatarios finales para conocer sus propios avisos de
    privacidad.Definiciones.I.-Cookies.- Archivos de texto que se descargan
    automáticamente y se almacenan en el disco duro del equipo de cómputo del
    usuario al navegar en una página o portal de Internet específico, que
    permiten almacenar al servidor de Internet ciertos datos, entre ellos,
    páginas preferidas de visualización en internet.II.-Web beacons.-Imágenes
    insertadas en páginas, portales de Internet, o correos electrónicos y que
    pueden almacenar información de la dirección IP del usuario, tiempo de
    interacción en los sitios web, entre otros.Para cualquier asunto relacionado
    con el presente Aviso de privacidad contacte a nuestro Departamento Legal al
    Tel:(52) 55-5628-7360 ó mail juridico.reforma@reforma.com
  </p>
</div>
