<app-navbar></app-navbar>
<div class="container">
  <!--Carousel anuncios-->
  <div class="carousel-ads mt-5">
    <h2 class="text-center">Seccion de {{ ads.categorie }}</h2>
    <div class="slick-list" id="slick-list" #slickList>
      <div #adsList class="adsList">
        <div
          #ad
          id="container"
          class="ad"
          *ngFor="let ad of adList | filterCategories: title"
        >
          <div class="card mx-2">
            <img class="card-img-top" src="{{ ad.imageUrl }}" />
            <div class="card-body">
              <h5 class="card-title">{{ ad.title.substring(15, -1) }}...</h5>
              <p>
                <span class="card-description">
                  {{ ad.description.substring(30, -1) }}...</span
                >
              </p>
              <!-- Button trigger modal -->
              <button
                type="button"
                class="btn btn-primary"
                data-toggle="modal"
                data-target="#modalAd"
                (click)="viewDetail(ad)"
              >
                Más información...
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Modal detail ad-->
<div
  *ngIf="ad"
  class="modal fade"
  id="modalAd"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modalAd"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">
          {{ ad.title }}
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{ ad.description }}</p>
        <p><fa-icon [icon]="faPhone"></fa-icon> {{ ad.phone }}</p>
        <a
          *ngIf="ad.web != '' && ad.web != null"
          target="_blank"
          [href]="ad.web"
          class="btn btn-warning mr-2"
          >Pagina Web</a
        >
        <a
          *ngIf="ad.facebook != '' && ad.facebook != null"
          target="_blank"
          [href]="ad.facebook"
          class="btn btn-primary mr-2"
          >Facebook</a
        >
        <a
          *ngIf="ad.latitud != '' && ad.latitud != null"
          target="_blank"
          href="https://maps.google.com/?q={{ ad.latitud }},{{ ad.longitud }}"
          class="btn btn-success"
        >
          <fa-icon class="mapMarker" [icon]="faMarker"></fa-icon>
          Ubicacion</a
        >
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
