.adsList {
  width: 100%;
  display: block;
  display: inline-block;
  display: flex;
  overflow-x: hidden;
}

.ad {
  transition: 0.7s;
}

.ad:hover {
  opacity: 0.8;
}

.buttonLeftLastetAds,
.buttonRightLastetAds {
  border: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 40px;
  height: 20%;
  top: calc(50%-25%);
  line-height: 40px;
  width: 50px;
  color: white;
}

.buttonLeftMostSeen,
.buttonRightMostSeen {
  border: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 40px;
  height: 20%;
  top: calc(50%-25%);
  line-height: 40px;
  width: 50px;
  color: white;
}

.buttonLeftLastetAds {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  z-index: 1;
  left: 0;
  display: none;
}

.buttonRightLastetAds {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  right: 0;
}

.buttonLeftMostSeen {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  z-index: 1;
  left: 0;
  display: none;
}

.buttonRightMostSeen {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  right: 0;
}

.buttonLeftMostSeen:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.buttonRightMostSeen:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.buttonLeftLastetAds:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.buttonRightLastetAds:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.card {
  margin: 1rem;
  width: 15rem;
  height: 22rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card img {
  padding: 0.5rem;
  height: 10rem;
}

.card-title {
  font-size: 1.2rem;
}

.card-body a {
  text-transform: lowercase;
}

.carousel-caption {
  background-color: black;
  opacity: 0.7;
  border: solid 1px black;
  border-radius: 5px;
}

.carousel-item img {
  height: 25rem;
  width: 100%;
}

.cel {
  color: rgb(10, 223, 10);
}

.footer {
  padding: 2rem;
  background-color: #666;
  color: #bbb;
}

.footer a {
  color: #bbb;
}

.footer h3,
h4 {
  padding: 1rem;
}

h2 {
  text-transform: uppercase;
}

.mapMarker {
  color: red;
}

.slick-list {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
}

.searchList {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.table-fixed th,
tr,
td,
tbody {
  width: 100%;
}

.table-fixed tbody {
  height: 20rem;
  width: 100%;
  overflow-y: auto;
}

.table-fixed tbody {
  display: block;
}

.load {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 800px) {
  .carousel-item img {
    height: 12rem;
  }

  .table-fixed tbody {
    height: 12rem;
  }
}
