<main *ngIf="categories.length && ads.length && lastetAds.length; else loading">
  <section class="row">
    <section class="col-12 col-md-9">
      <!--Carrusel de imagenes-->
      <div
        id="carouselExampleControls"
        class="carousel slide mt-2"
        data-ride="carousel"
      >
        <div *ngIf="adCarousel" class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="{{ adCarousel.imageUrl }}" />
            <div class="carousel-caption d-none d-md-block">
              <h5>{{ adCarousel.title.substring(18, -1) }}...</h5>
              <p>{{ adCarousel.description.substring(180, -1) }} .....</p>
            </div>
          </div>
          <div *ngFor="let ad of adListCarousel" class="carousel-item">
            <img class="d-block w-100" src="{{ ad.imageUrl }}" />
            <div class="carousel-caption d-none d-md-block">
              <h5>{{ ad.title.substring(18, -1) }}...</h5>
              <p>{{ ad.description.substring(180, -1) }} .....</p>
            </div>
          </div>
        </div>
        <a
          class="carousel-control-prev"
          href="#carouselExampleControls"
          role="button"
          data-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a
          class="carousel-control-next"
          href="#carouselExampleControls"
          role="button"
          data-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </section>
    <section *ngIf="categories.length" class="col-12 col-md-3">
      <!--Tabla de categorias-->
      <table class="table table-hover table-fixed mt-2">
        <thead class="thead-dark">
          <tr>
            <th>Categoria</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let categorie of categories">
            <td>
              <a [routerLink]="['/categories/', categorie.name]">{{
                categorie.name
              }}</a>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
  </section>

  <!--Search anuncios -->
  <section class="search-ads mt-5">
    <div class="searchList">
      <div id="container" class="ad" *ngFor="let ad of ads | filterAds: title">
        <div class="card mx-2">
          <img class="card-img-top" src="{{ ad.imageUrl }}" />
          <div class="card-body">
            <h5 class="card-title">{{ ad.title.substring(15, -1) }}...</h5>
            <p>
              <span class="card-description">
                {{ ad.description.substring(30, -1) }}...</span
              >
            </p>
            <!-- Button trigger modal -->
            <button
              type="button"
              class="btn btn-primary"
              data-toggle="modal"
              data-target="#modalAd"
              (click)="viewDetail(ad)"
            >
              Más información...
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--Carousel ultimos anuncios -->
  <section *ngIf="lastetAds" class="carousel-ads mt-5">
    <h2>Ultimos anuncios</h2>
    <div class="slick-list" id="slick-list" #slickList>
      <button class="btn-arrow-prev" (click)="buttonNextLastetClick()">
        <span><fa-icon [icon]="faChevronLeft"></fa-icon></span>
      </button>
      <div #adsList class="adsList">
        <div #adLastet id="container" class="ad" *ngFor="let ad of lastetAds">
          <div class="card mx-2">
            <img class="card-img-top" src="{{ ad.imageUrl }}" />
            <div class="card-body">
              <h5 class="card-title">{{ ad.title.substring(15, -1) }}...</h5>
              <p>
                <span class="card-description">
                  {{ ad.description.substring(30, -1) }}...</span
                >
              </p>
              <!-- Button trigger modal -->
              <button
                type="button"
                class="btn btn-primary"
                data-toggle="modal"
                data-target="#modalAd"
                (click)="viewDetail(ad)"
              >
                Más información...
              </button>
            </div>
          </div>
        </div>
      </div>
      <button class="btn-arrow-next" (click)="buttonPrevLastetClick()">
        <span><fa-icon [icon]="faChevronRight"></fa-icon></span>
      </button>
    </div>
  </section>
  <!--Carousel anuncios relevantes-->
  <section *ngIf="mostSeenAds.length" class="carousel-ads mt-5">
    <h2>Mas relevantes</h2>
    <div class="slick-list" id="slick-list" #slickList>
      <button class="btn-arrow-prev" (click)="buttonNextMostSeenClick()">
        <span><fa-icon [icon]="faChevronLeft"></fa-icon></span>
      </button>
      <div #adsList class="adsList">
        <div
          #adMostSeen
          id="container"
          class="ad"
          *ngFor="let ad of mostSeenAds"
        >
          <div class="card mx-2">
            <img class="card-img-top" src="{{ ad.imageUrl }}" />
            <div class="card-body">
              <h5 class="card-title">{{ ad.title.substring(15, -1) }}...</h5>
              <p>
                <span class="card-description">
                  {{ ad.description.substring(30, -1) }}...</span
                >
              </p>
              <!-- Button trigger modal -->
              <button
                type="button"
                class="btn btn-primary"
                data-toggle="modal"
                data-target="#modalAd"
                (click)="viewDetail(ad)"
              >
                Más información...
              </button>
            </div>
          </div>
        </div>
      </div>
      <button class="btn-arrow-next" (click)="buttonPrevMostSeenClick()">
        <span><fa-icon [icon]="faChevronRight"></fa-icon></span>
      </button>
    </div>
  </section>
  <!--Footer-->
  <section class="footer mb-2">
    <div class="container text-center">
      <h3>MiAnuncioApp</h3>
      <h4>
        <fa-icon class="cel" [icon]="faPhone"></fa-icon>
        <span class="cel"> {{ cel }}</span>
      </h4>
      <a [routerLink]="['/']">Terminos y condiciones</a>
    </div>
  </section>
</main>
<ng-template #loading>
  <div class="load">
    <div class="loader"></div>
    <h3>Cargando...</h3>
  </div>
</ng-template>

<!--Modal detail ad-->
<div
  *ngIf="ad"
  class="modal fade"
  id="modalAd"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modalAd"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">
          {{ ad.title }}
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{ ad.description }}</p>
        <a
          *ngIf="ad.web != '' && ad.web != null"
          target="_blank"
          [href]="ad.web"
          class="btn btn-warning mr-2"
          >Pagina Web</a
        >
        <a
          *ngIf="ad.facebook != '' && ad.facebook != null"
          target="_blank"
          [href]="ad.facebook"
          class="btn btn-primary mr-2"
          >Facebook</a
        >
        <a
          *ngIf="ad.latitud != null"
          target="_blank"
          href="https://maps.google.com/?q={{ ad.latitud }},{{ ad.longitud }}"
          class="btn btn-success"
        >
          <fa-icon class="mapMarker" [icon]="faMarker"></fa-icon>
          Ubicacion</a
        >
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
