.adsList {
  width: 100%;
  display: block;
  display: inline-block;
  display: flex;
  overflow-x: hidden;
}

.ad {
  transition: 0.7s;
}

.ad:hover {
  opacity: 0.8;
}

.btn-arrow-prev,
.btn-arrow-next {
  border: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 40px;
  height: 20%;
  top: calc(50%-25%);
  line-height: 40px;
  width: 50px;
  color: white;
}

.btn-arrow-prev {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  z-index: 1;
  left: 0;
}

.btn-arrow-next {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  right: 0;
}

.btn-arrow-next:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.btn-arrow-prev:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.card {
  margin: 1rem;
  width: 15rem;
  height: 22rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card img {
  padding: 0.5rem;
  height: 10rem;
}

.card-title {
  font-size: 1.2rem;
}

.card-body a {
  text-transform: lowercase;
}

.carousel-caption {
  background-color: black;
  opacity: 0.7;
  border: solid 1px black;
  border-radius: 5px;
}

.carousel-item img {
  height: 40rem;
}
h2 {
  text-transform: uppercase;
}

.mapMarker {
  color: red;
}

.slick-list {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
}

@media screen and (max-width: 800px) {
  .carousel-item img {
    height: 12rem;
  }
}
