<div class="card">
  <div class="card-body">
    <h3 class="text-center">Crear anuncio</h3>
    <form [formGroup]="adForm" (ngSubmit)="createAd()">
      <div class="row">
        <div class="col form-group">
          <label>Titulo del anuncio</label>
          <input
            type="text"
            class="form-control"
            formControlName="title"
            placeholder="Titulo del anuncio"
            required
            name="title"
            [className]="
              !title.errors && (title.dirty || title.touched)
                ? 'is-valid form-control'
                : 'is-invalid form-control'
            "
          />
          <div *ngIf="title.errors" class="invalid-feedback">
            Por favor ingresa un titulo.
          </div>
        </div>
        <div class="col form-group">
          <label>Categoria</label>
          <select
            name="categorie"
            class="form-control"
            formControlName="categorie"
            [className]="
              !categorie.errors && (categorie.dirty || categorie.touched)
                ? 'is-valid form-control'
                : 'is-invalid form-control'
            "
          >
            <option
              [value]="categorie.name"
              *ngFor="let categorie of categories"
            >
              {{ categorie.name }}
            </option>
          </select>
          <div *ngIf="categorie.errors" class="invalid-feedback">
            Por favor selecciona una categoria.
          </div>
        </div>
      </div>

      <div class="form-group">
        <label>Descripción</label>
        <textarea
          class="form-control"
          formControlName="description"
          rows="3"
          required
          [className]="
            !description.errors && (description.dirty || description.touched)
              ? 'is-valid form-control'
              : 'is-invalid form-control'
          "
        ></textarea>
        <div *ngIf="description.errors" class="invalid-feedback">
          Por favor escribe una descripcion.
        </div>
      </div>
      <div class="form-group">
        <label>Imagen</label>
        <input
          type="file"
          class="form-control-file"
          formControlName="image"
          accept=".png, .jpg, .mp4"
          class="form-control-file"
          (change)="onUploadImg($event)"
          [className]="
            !image.errors ? 'is-valid form-control' : 'is-invalid form-control'
          "
        />
        <div *ngIf="file" class="mt-2">
          <div
            *ngIf="file.uploadPercent | async as uploadPercent2"
            class="progress"
          >
            <div
              class="progress-bar progress-bar-striped progress-bar-animated"
              role="progressbar"
              [ngStyle]="{ width: uploadPercent2 + '%' }"
            >
              {{ uploadPercent2 | number: "1.0-0" }} %
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col form-group">
          <label>Dirección</label>
          <input
            type="text"
            class="form-control"
            formControlName="direction"
            placeholder="Dirección"
            [className]="
              !direction.errors
                ? 'is-valid form-control'
                : 'is-invalid form-control'
            "
          />
          <div *ngIf="direction.errors" class="invalid-feedback">
            Por favor ingresa una dirección.
          </div>
        </div>
        <div class="col form-group">
          <label>Teléfono</label>
          <input
            required
            type="text"
            class="form-control"
            formControlName="phone"
            placeholder="Numero de teléfono"
            [className]="
              !phone.errors && (phone.dirty || phone.touched)
                ? 'is-valid form-control'
                : 'is-invalid form-control'
            "
          />
          <div *ngIf="phone.errors" class="invalid-feedback">
            Por favor ingresa un número telefónico.
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col form-group">
          <label>Facebook</label>
          <input
            required
            type="text"
            class="form-control"
            formControlName="facebook"
            placeholder="Ingresa tu link a facebook"
          />
        </div>
        <div class="col form-group">
          <label>Pagina web</label>
          <input
            required
            type="text"
            class="form-control"
            formControlName="web"
            placeholder="Ingresa tu link a tu pagina web"
          />
        </div>
      </div>
      <!--Empezamos con los mapas-->
      <div class="mapa-search">
        <div class="form-group">
          <label>Buscar lugar</label>
          <input
            type="text"
            class="form-control"
            placeholder="Ingresa una direccion y selecciona una opcion"
            autocorrect="off"
            autocapitalize="off"
            spellcheck="off"
            type="text"
            #search
          />
        </div>

        <agm-map
          [latitude]="lat"
          [longitude]="lng"
          [zoom]="zoom"
          [mapTypeId]="mapTypeId"
        >
          <agm-marker
            [latitude]="lat"
            [longitude]="lng"
            [markerDraggable]="false"
          ></agm-marker>
        </agm-map>
      </div>
      <div class="row">
        <div class="col form-group">
          <label>Longitud</label>
          <input
            type="text"
            required
            class="form-control"
            formControlName="longitud"
            placeholder="Longitud"
            [value]="lng"
          />
        </div>
        <div class="col form-group">
          <label>Latitud</label>
          <input
            type="text"
            required
            class="form-control"
            formControlName="latitud"
            placeholder="Latitud"
            [value]="lat"
          />
        </div>
      </div>
      <!--Termina la parte de los mapas-->
      <button class="btn btn-primary btn-long btn-block mt-3">
        Publicar anuncio
      </button>
    </form>
  </div>
</div>
