<table class="table table-hover mt-2">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Anuncio</th>
      <th scope="col">Contacto</th>
      <th scope="col">Categoria</th>
      <th>Imagen</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let ad of ads">
      <td>
        <span class="title">{{ ad.title }}</span> <br />
        {{ ad.description }}
      </td>
      <td>
        <span class="contacto">Celular:</span> {{ ad.phone }} <br />
        <span class="contacto">Dirección:</span> {{ ad.direction }} <br />
        <span class="contacto">Pagina:</span> {{ ad.web }} <br />
        <span class="contacto">Email:</span> {{ ad.email }}
      </td>
      <td>{{ ad.categorie }}</td>
      <td>
        <img src="{{ ad.imageUrl }}" width="100" /> <br />
        <button
          [className]="
            ad.banner ? 'btn btn-warning mt-2' : 'btn btn-outline-warning mt-2'
          "
          (click)="bannerUpdateState(ad)"
        >
          Banner
        </button>
      </td>
      <td>
        <button class="btn btn-danger" (click)="deleteAd(ad)">Borrar</button>
      </td>
    </tr>
  </tbody>
</table>
