<section *ngIf="ads?.length > 0; else notAds">
  <hr class="mt-4" />
  <form>
    <div class="form-inline mt-4">
      <input
        type="text"
        class="form-control"
        placeholder="Buscar..."
        (input)="search($event.target.value)"
      />
      <fa-icon class="ml-2" [icon]="faSearch"></fa-icon>
    </div>
  </form>
  <table class="table table-hover mt-2">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Anuncio</th>
        <th scope="col">Contacto</th>
        <th scope="col">Categoria</th>
        <th scope="col">Banner</th>
        <th>Imagen</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ad of ads | filterCategories: title">
        <td>
          <span class="title">{{ ad.title }}</span> <br />
          {{ ad.description }}
        </td>
        <td>
          <span class="contacto">Celular:</span> {{ ad.phone }} <br />
          <span class="contacto">Dirección:</span> {{ ad.direction }} <br />
          <span class="contacto">Pagina:</span> {{ ad.web }} <br />
          <span class="contacto">Facebook:</span> {{ ad.facebook }}
        </td>
        <td>{{ ad.categorie }}</td>
        <td>
          <button
            [className]="
              ad.banner ? 'btn btn-success mt-2' : 'btn btn-outline-danger mt-2'
            "
            (click)="bannerUpdateState(ad)"
          >
            <fa-icon *ngIf="ad.banner" [icon]="faCheckCircle"></fa-icon>
            <fa-icon *ngIf="!ad.banner" [icon]="faTimesCircle"></fa-icon>
          </button>
        </td>
        <td>
          <img src="{{ ad.imageUrl }}" width="100" />
        </td>
        <td>
          <button class="btn btn-danger" (click)="deleteAd(ad)">Borrar</button>
        </td>
      </tr>
    </tbody>
  </table>
</section>
<ng-template #notAds>
  <div class="load">
    <div class="loader"></div>
    <h3>Buscando anuncios...</h3>
  </div>
</ng-template>
